<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Kraken" ToolsVersion="10.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA2101" Action="None" />
  </Rules>
</RuleSet>